<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyCoffeeConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyCoffee.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    <sessionState mode="InProc" cookieless="false" timeout="90">
    </sessionState>
    
  </system.web>
</configuration>